body{margin:0;
      text-align:center;
      font-family:cursive;

    }

    h1{
      width:50%;
      margin:0 auto;
      color: deepskyblue;
      padding-top: 30px;

      }
      h2
      {
color: deepskyblue;
      }
      h3{
        color: deepskyblue;
      }
hr{
  border: dotted lightgreen 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a:hover{color: yellow;}

.top-container{position:relative;
  background-color: powderblue;
  padding-top: 100px;


    }
    .bottom-container{background-color: powderblue;}

.top-cloud{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.profile{
  width: 15%;
  padding-top: 30px;
  margin:auto;
}
.pic{left: auto;
height: 200px;
width: 200px;}


.hello{margin: auto;}
.skill-row{width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{width: 25%;
  float: left;
  margin-right: 30px;
}
.web-img{width: 25%;
  float: right;
  margin-left: 30px;
}
.form-class{padding-top: 30px;}
